span{
    font-weight: bolder;
}
a, h3{
    display: inline-block;
}
a{
    text-align: right;
    margin-left: 200px;
}
#right{
    vertical-align: top;
    display: inline-block;
    width: 250px;
}
#left{
    vertical-align: top;
    display: inline-block;
    width: 125px;
    margin-right: 25px;
    text-align: center;
}
ul{
    list-style: none;
}
#like{
    padding: 10px;
    margin-left: 20px;
    color: white;
    background: linear-gradient(to bottom,#c7d6ea,#617482);
}
#adopt{
    padding: 10px;
    margin-left: 20px;
    color: white;
    background: linear-gradient(to bottom,#cde1cf,#445b69);
}