
form{
    border: 1px solid #8a8a8a;
    width: 300px;
    padding: 10px;

}
p{
    color: #8a8a8a;
}
input{
    border-radius: 5px;
}
button{
    padding: 5px;
    background-color: #66bbff;
    color: white;
    border-radius: 1px;
}
span{
    color: #9854ff;
}
ul{
    list-style: none;
}